/*
 * Table
 */
table.dataTable {
	margin: 0 auto;
	clear: both;
	width: 100%;
	font-size:10px;	 
}

table.dataTable thead th {
	padding: 3px 10px 3px 10px;
	border: 1px solid black;
	font-weight: bold;
	cursor: pointer;
	color:#FFFFFF;
	font-size:12px;
	background-color:#4f698a;
	/*cursor: hand;*/
}

table.dataTable thead th.sorting {
 background: url("images/sort_both.png") no-repeat center right; 
	padding: 3px 10px 3px 10px;
	border: 1px solid black;
	font-weight: bold;
	cursor: pointer;
	color:#FFFFFF;	
	background-color:#4f698a;
	/*cursor: hand;*/
}

table.dataTable thead th.sorting_asc {
	 background: url("images/sort_asc.png") no-repeat center right;
	padding: 3px 10px 3px 10px;
	border: 1px solid black;
	font-weight: bold;
	cursor: pointer;
	color:#FFFFFF;	
	background-color:#4f698a;
	/*cursor: hand;*/
}
table.dataTable thead th.sorting_desc {
	background: url("images/sort_desc.png") no-repeat center right;
	padding: 3px 10px 3px 10px;
	border: 1px solid black;
	font-weight: bold;
	cursor: pointer;
	color:#FFFFFF;	
	background-color:#4f698a;
	/*cursor: hand;*/
}

table.dataTable tfoot th {
	padding: 3px 10px 3px 10px;
	border-top: 1px solid black;
	font-weight: bold;
}

table.dataTable td {
	padding: 3px 10px;
	border: 1px solid black;
}

table.dataTable  tr.odd {
    background-color: #ffffff; }

table.dataTable  tr.even {
    background-color: #edeaea; }

table.dataTable tr.odd:hover {
  background-color: #a9b7d1; }	
table.dataTable tr.even:hover {
  background-color: #a9b7d1; }
    